.clients-list {
  display: flex;
  flex-wrap: wrap;
  margin-top: -30px;
  margin-left: -30px;

  &__item {
    width: 170px;
    height: 92px;
    margin-top: 30px;
    margin-left: 30px;
  }

  &__link {
    display: flex;
    height: 100%;
    border: 1px solid var(--icon-color);
    border-radius: 4px;
    transition: border-color var(--trans-duration) var(--timing-function);

    &:hover,
    &:focus {
      border-color: var(--accent-color);
    }
  }

  &__icon {
    margin: auto;
    fill: var(--icon-color);
    transition: fill var(--trans-duration) var(--timing-function);

    .clients-list__link:hover &,
    .clients-list__link:focus & {
      fill: var(--accent-color);
    }
  }
}
