.portfolio-gallery {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: -30px;

  &__item {
    position: relative;
    margin-bottom: 30px;

    &:not(:nth-child(3n)) {
      margin-right: 30px;
    }
  }
}

.card {
  display: block;

  transition: box-shadow var(--trans-duration) var(--timing-function);

  &:hover,
  &:focus {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
      1px 4px 6px rgba(0, 0, 0, 0.16);
  }

  &__box {
    position: relative;

    overflow: hidden;
  }

  &__overlay {
    position: absolute;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;
    /* большой паддинг верхний - ментор Алёна сказала делать по макету */
    padding: 63px 24px 24px;

    background-color: rgba(33, 150, 243, 0.9);
    color: var(--white-color);
    font-size: 18px;
    line-height: 1.56;
    overflow: auto;

    transform: translateY(100%);
    transition: transform var(--trans-duration) var(--timing-function);

    .card:hover &,
    .card:focus & {
      transform: translateY(0);
    }
  }

  &__title {
    padding: 20px 24px;
    border: 1px solid var(--brd-card-title);
    border-top: 0;
  }

  &__name {
    margin-bottom: 4px;

    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    color: var(--main-color);
  }

  &__text {
    font-size: 16px;
    line-height: 1.87;
    color: var(--second-color);
  }
}
