.header {
  border-bottom: 1px solid #ececec;

  &__container {
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding-top: 10px;
    padding-bottom: 10px;
  }

  &__burger-btn {
    width: 40px;
    height: 40px;

    line-height: 0;

    background-color: transparent;
    border: none;
    padding: 0;
    outline: 2px dotted gold;
  }

  &__burger-icon {
    width: 24px;
    height: 16px;
    fill: var(--main-color);
  }
}

// .header {
//   border-bottom: 1px solid #ececec;

//   &__container {
//     display: flex;
//     align-items: center;
//   }
// }

.link-list {
  @media screen and (max-width: $tablet - 1px) {
    display: none;
  }
}

// .nav {
//   display: flex;
//   align-items: center;
// }

// .link-list {
//   display: flex;
//   align-items: center;

//   &__item:not(:last-child) {
//     margin-right: 50px;
//   }
// }

// .link-list__link {
//   display: block;

//   @extend %header-links;
//   color: var(--main-color);

//   &--current {
//     position: relative;
//     color: var(--accent-color);

//     &::after {
//       content: '';
//       position: absolute;
//       display: block;
//       bottom: -1px;
//       left: 0;
//       width: 100%;
//       height: 4px;
//       border-radius: 2px;
//       background-color: var(--accent-color);
//     }
//   }
//   &:focus,
//   &:hover {
//     color: var(--accent-color);
//   }
// }
.header-contacts {
  @media screen and (max-width: $tablet - 1px) {
    display: none;
  }
}
// .header-contacts {
//   display: flex;
//   align-items: center;
//   margin-left: auto;

//   &__link {
//     display: flex;
//     align-items: center;

//     @extend %header-links;
//     color: var(--second-color);
//   }

//   &__item:not(:last-child) {
//     margin-right: 30px;
//   }

//   &__icon {
//     margin-right: 10px;
//     fill: currentColor;
//   }

//   &:focus,
//   &__link:hover {
//     color: var(--accent-color);
//   }
// }
