.header {
  border-bottom: 1px solid #ececec;

  &__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

.header-contacts__link {
  display: flex;
  align-items: center;

  @include header-links();
  color: var(--second-color);

  &:focus,
  &:hover {
    color: var(--accent-color);
  }
}

.header-contacts__icon {
  fill: currentColor;
}

@media screen and (max-width: $tablet - 1px) {
  .header {
    &__container {
      padding-top: 10px;
      padding-bottom: 10px;
    }

    &__burger-btn {
      width: 40px;
      height: 40px;

      line-height: 0;

      background-color: transparent;
      border: none;
      padding: 0;

      &:hover .header__burger-icon,
      &:focus .header__burger-icon {
        fill: var(--accent-color);
      }
    }

    &__burger-icon {
      width: 24px;
      height: 16px;
      fill: var(--main-color);
    }
  }

  .link-list {
    display: none;
  }

  .header-contacts {
    display: none;
  }
}

@media screen and (min-width: $tablet) {
  .header__burger-btn {
    display: none;
  }

  .mobile-menu {
    display: none;
  }

  .link-list {
    display: flex;
    align-items: center;

    &__item:not(:last-child) {
      margin-right: 50px;
    }

    &__link {
      display: block;

      padding-top: 32px;
      padding-bottom: 32px;

      @include header-links();
      color: var(--main-color);

      transition: color var(--trans-duration) var(--timing-function);

      &--current {
        position: relative;
        color: var(--accent-color);

        &::after {
          content: '';
          position: absolute;
          display: block;
          bottom: -1px;
          left: 0;
          width: 100%;
          height: 4px;
          border-radius: 2px;
          background-color: var(--accent-color);
        }
      }
      &:focus,
      &:hover {
        color: var(--accent-color);
      }
    }
  }
}

@media screen and (min-width: $tablet) and (max-width: $desktop - 1px) {
  .header-contacts__link {
    @include header-links(12px, 1.17);

    padding-top: 5px;
    padding-bottom: 5px;
  }
  .header-contacts__icon {
    margin-right: 8px;
  }
}

@media screen and (min-width: $desktop) {
  .header-contacts {
    display: flex;
    margin-left: auto;

    &__link {
      padding-top: 32px;
      padding-bottom: 32px;
    }

    &__link:focus,
    &__link:hover {
      color: var(--accent-color);
    }

    &__item:not(:last-child) {
      margin-right: 30px;
    }

    &__icon {
      margin-right: 10px;
    }
  }
}
