.form__field {
  position: relative;
  display: block;

  margin-bottom: 28px;

  &:last-child {
    margin-bottom: 20px;
  }
  &:focus-within .form__label {
    color: var(--accent-color);
  }
}

.form__input {
  display: block;
  width: 100%;
  height: 40px;

  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding-left: 42px;

  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: inherit;

  background-color: var(--white-color);
  transition: border-color var(--trans-duration) var(--timing-function);

  .form__field:focus-within & {
    outline: none;
    border-color: var(--accent-color);

    &::placeholder {
      color: var(--placeholder-text-color);
    }
  }

  &::placeholder {
    color: transparent;
    transition: color var(--trans-duration) var(--timing-function);
  }
}

.form__label {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 42px;

  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: var(--second-color);

  transition: transform var(--trans-duration) var(--timing-function);
}

.form__icon {
  position: absolute;
  top: 50%;
  left: 12px;
  transform: translateY(-50%);
  fill: var(--main-color);
  transition: fill var(--trans-duration) var(--timing-function);

  .form__field:focus-within & {
    fill: var(--accent-color);
  }
}

.form__input:not(:placeholder-shown) + .form__label,
.form__field:focus-within .form__label {
  transform: translate(-42px, -36px);
}

.form__textarea {
  resize: none;
  height: 120px;

  padding: 12px 16px;
  overflow: auto;
}

.textarea__label {
  top: 20px;
  left: 16px;
}

.form__textarea:not(:placeholder-shown) + .textarea__label,
.textarea__field:focus-within .textarea__label {
  transform: translate(-15px, -37px);
}

.agreement {
  margin-bottom: 30px;

  font-size: 12px;
  line-height: 1.17;
  text-align: center;
  color: var(--second-color);

  @media screen and (min-width: $desktop) {
    font-size: 14px;
    line-height: 1.71;
  }

  &__link {
    text-decoration: underline;
    color: var(--accent-color);
  }

  &__icon {
    vertical-align: middle;
    width: 16px;
    height: 15px;
    border: 2px solid var(--main-color);
    border-radius: 2px;

    fill: var(--white-color);
    background-color: var(--white-color);
    transition-property: border-color;
    transition-duration: var(--trans-duration);
    transition-timing-function: var(--timing-function);

    .agreement__checkbox:focus + & {
      border-color: var(--accent-color);
    }

    .agreement__checkbox:checked + & {
      background-color: var(--accent-color);
      border: none;
    }
  }
}
