@mixin header-links($fz: 14px, $lh: 1.14) {
  font-size: $fz;
  font-weight: 500;
  line-height: $lh;
  letter-spacing: 0.02em;

  // padding-top: 32px;
  // padding-bottom: 32px;

  transition: color var(--trans-duration) var(--timing-function);
}
